.mainContainer {
    overflow-y: hidden;
}

.appContainer {
    background: '#FCFCFC';
    padding-bottom: '50px';
}

.screenSize {
    max-width: 1300px;
    margin: auto;
}

.columnStyle {
    margin: '0';
    padding: '5px';
}

.visitingPlaces {
    border-radius: 10px;
}

.ImgContainer {
    position: relative;
    color: white;
}

.textStyle {
    font-size: 15px;
}

.ImgText {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-weight: 700;
}

@media (max-width: 992px) {
    .rightSidebar {
        display: none;
    }
}